<html ng-controller = "EditDoctorController">
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    </head>

    <div id = "header">
    <a href = '/'>
         <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjSzwVN27t5kR3fQeO9cSZk3P7LoGdfwkLDQFGZtG-2krKm8Zf" width = "200" height = "100">
    </a>
    </div>
    <form ng-submit="EditDoctor()">
        First Name:<input type='text' name='first_name' ng-model='doctor.first_name' required>
        Last Name:<input type='text' ng-model='last_name'>
        Phone Number: <input type='text' name = 'phone_number' ng-model='doctor.phone_number' required>
        Email:<input type = 'email' name = 'email' ng-model='doctor.email' required>
        Education:<input type='text' ng-model='doctor.education'>
        Experience In Year:<input type='text' ng-model='doctor.experience_in_year'>
        Description:<input type='text' ng-model='doctor.description'>
        Area:<input type='text' ng-model='doctor.area'>
        City:<input type = 'text' ng-model='doctor.city'>
        <input type = 'submit' name = 'submit'>
</div>